body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

a {
  color: #3AC2F8;
  text-decoration: none;
}

a:visited {
  color: #06729D;
}

a:hover {
  color: #A198D7;
  text-decoration: underline;
}

a:active {
  color: #97AAC3;
}

a:hover,
a:focus {
  color: #A198D7;
  text-decoration: underline;
}

.myname {
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
}


img {
  width: 100%;
}

.button {
  display: inline-block;
  background-color: #ff7f50;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}
