* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
  line-height: 1.4;
}

#hero h2 {
  text-align: center;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  line-height: 1.4;
}

h3 {
  color: #238479;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 1.4;
}

h4 {
  font-size: 1.35em;
  font-weight: bold;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li>a {
  font-size: 16px;
  padding: 0 15px;
  text-transform: lowercase;
  font-weight: bold;
  text-transform: uppercase;
  color: #ADADAD;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 20px;
}

.navtoggle.responsive li {
  display: block;
}

img {
  width: 100%;
}

.intro h2 {
  padding-top: 50px;
}

header {
  background-color: #ffffff;
  padding: 10px 0;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.04);
  position: fixed;
  width: 100%;
  top: 0px;
}

.container {
  padding: 0 35px;
}

.button {
  text-decoration: none;
  display: inline-block;
  background-color: #238479;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s opacity;
}

.button:hover {
  background-color: #23cdaf;
  transition: all ease 0.8s;
}

span {
  color: #6272a4;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  margin: 25px 0;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #EBEBEB;
}

#work h3 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.name {
  color: #6272a4;
  font-family: 'Lato', sans-serif;
}

.job {
  padding-top: 50px;
}

#hero {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#hero span {
  display: block;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #F5F5F5;
}

main {
  padding-top: 99px;
}

[class*="col-"] {
  float: left;
}

@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .col-md-6 {
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1920px) {}
